<h1>Greetings#hello</h1>
<p>Find me in app/views/greetings/hello.html.erb</p>
<a href="hi">Go To Page "hi"</a>
<br>
<br>
<h3><%="This message: \"#{@text_ham}\". And Name : #{@name}" %></h3>
<br>
<hr>
    <div>
        <% #render controller "Vehicles" action "cars" %>
        <%= render :template => "vehicles/cars" %>
    </div>
<hr>
<br>
<br>
<hr>
  <div>
    <h3>This Test connect database</h3>
    <!--
    <%
    require './config/environment.rb' # Assuming the script is located in the root of the rails app
    #see output on console
    begin
      ActiveRecord::Base.establish_connection # Establishes connection
      ActiveRecord::Base.connection # Calls connection object

      puts "CONNECTED!" if ActiveRecord::Base.connected?
      puts "NOT CONNECTED!" unless ActiveRecord::Base.connected?
      rescue
      puts "NOT CONNECTED!"
    end

    #see output on web page
    begin
      ActiveRecord::Base.establish_connection # Establishes connection
      ActiveRecord::Base.connection # Calls connection object

      concat "CONNECTED!" if ActiveRecord::Base.connected?
      concat "NOT CONNECTED!" unless ActiveRecord::Base.connected?
      rescue
      concat "NOT CONNECTED!"
    end
    %>-->
  </div>
<hr>
<br>
<br>
